@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-5">Docker-compose ASP.NET Core Web app with MSSQL</h1>
        <br />
        <br />
        <h4>Please explore the following links to learn examples of CRUD REST API</h4>
        <br />
        <p><a asp-controller="Person" asp-action="InsertPerson">Create New Person</a></p>
        <p><a asp-controller="Person" asp-action="ViewAllPersons">View Person List</a></p>
    </div>
